name: Android Release

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      # Checkout repository
      - name: Checkout
        uses: actions/checkout@v4

      # Setup Java
      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      # Make Gradle executable
      - name: Grant execute permission
        run: chmod +x gradlew

      # Decode Keystore
      - name: Decode Keystore
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 -d > release.keystore

      # Create keystore properties
      - name: Create keystore.properties
        run: |
          echo "storeFile=release.keystore" >> keystore.properties
          echo "storePassword=${{ secrets.KEYSTORE_PASSWORD }}" >> keystore.properties
          echo "keyAlias=${{ secrets.KEY_ALIAS }}" >> keystore.properties
          echo "keyPassword=${{ secrets.KEY_PASSWORD }}" >> keystore.properties

      # Optional Firebase file
      - name: Add google-services.json
        if: ${{ secrets.GOOGLE_SERVICES_JSON != '' }}
        run: echo '${{ secrets.GOOGLE_SERVICES_JSON }}' > app/google-services.json

      # Build Release
      - name: Build APK & AAB
        run: ./gradlew assembleRelease bundleRelease

      # Upload APK artifact
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: release-apk
          path: app/build/outputs/apk/release/*.apk

      # Upload AAB artifact
      - name: Upload AAB
        uses: actions/upload-artifact@v4
        with:
          name: release-aab
          path: app/build/outputs/bundle/release/*.aab

      # Create GitHub Release
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            app/build/outputs/apk/release/*.apk
            app/build/outputs/bundle/release/*.aab
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
